name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.2
        bundler-cache: true

    - name: Install dependencies
      run: |
        bundle install
        RAILS_ENV=production bundle exec rails assets:precompile

    - name: Create deploy archive
      run: zip -r deploy.zip . -x "*.git*"

    - name: Upload files to EC2
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "deploy.zip"
        target: "/home/${{ secrets.EC2_USER }}/deploy.zip"

    - name: Run deploy commands on EC2
      uses: appleboy/ssh-action@v1.1.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd /home/${{ secrets.EC2_USER }}
          rm -rf production_tmp
          unzip deploy.zip -d production_tmp

          # Бекап старої версії
          rm -rf production_old
          mv production production_old || true

          # Нова версія
          mv production_tmp production

          cd production

          # Інстал залежностей
          bundle install --without development test

          # Міграції
          RAILS_ENV=production bundle exec rails db:migrate

          # Рестарт сервісу
          sudo systemctl restart production
